@charset "UTF-8";
body {
  background-color: #FFFDFA;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
@media (min-width: 1025px) {
  body {
    display: grid;
    grid-template-rows: 217px auto 150px;
    grid-template-columns: auto clamp(267px,26.071vw,365px);
  }
}

.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
  color: #707070;
}
@media (min-width: 1025px) {
  .l-header {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
  }
}

.l-header__logo {
  font-family: "Roboto";
  font-size: 2.5rem;
}
@media (min-width: 1025px) {
  .l-header__logo {
    font-size: clamp(47px,4.571vw,64px);
    margin-top: 4.1875rem;
    margin-left: 4.0625rem;
  }
}

@media (min-width: 1025px) {
  .l-main {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
.l-main h2 {
  width: 100%;
  height: 530px;
  background-image: url(../images/index_pagetop.jpg);
  background-position: right;
}
.l-main h2 a {
  display: block;
  color: #fff;
  font-family: "M+ 1m";
  font-weight: bold;
  font-size: 2.25rem;
}
@media (min-width: 1025px) {
  .l-main h2 a {
    padding-top: 231px;
    padding-left: 86px;
    font-size: 2.5rem;
  }
}

.l-main__map {
  margin-top: 131px;
  position: relative;
  width: 100%;
  height: 649px;
}
.l-main__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.l-main__map div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 649px;
}
.l-main__map section {
  position: absolute;
  width: clamp(696px,67.857vw,950px);
  height: 649px;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-family: "M+ 1m";
  font-weight: bold;
}
.l-main__map section h3 {
  font-size: clamp(26px,2.571vw,36px);
  padding: 83px 0 0 clamp(87px,8.5vw,119px);
}
.l-main__map section h3::after {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 189.5px;
}
.l-main__map section p {
  font-size: clamp(12px,1.143vw,16px);
  padding: 119px clamp(98px,9.571vw,134px) 40px clamp(87px,8.5vw,119px);
  line-height: 33px;
  text-align: justify;
}

.l-sidebar {
  background-color: #F2EDE9;
  color: #707070;
}
@media (min-width: 1025px) {
  .l-sidebar {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
.l-sidebar h2 {
  margin-top: 5.125rem;
  margin-left: 2.8125rem;
  font-family: "Roboto";
  font-size: 1.25rem;
}
@media (min-width: 600px) {
  .l-sidebar h2 {
    font-size: 2.125rem;
  }
}

.l-sidebar___list {
  margin-top: 80px;
  margin-left: 2.8125rem;
}

.l-sidebar___item {
  font-family: "M+ 1m";
  font-size: 1.5rem;
  line-height: 85px;
}
.l-sidebar___item > a {
  font-weight: bold;
}

.l-sidebar___subList {
  display: block;
  margin-left: 1.25rem;
  font-size: 1.25rem;
  line-height: 43px;
}

.l-footer {
  width: 100%;
  height: 150px;
  color: #fff;
  text-align: center;
  font-family: "M+ 1m";
  background-image: url(../images/common/footer_bg.png);
}
@media (min-width: 1025px) {
  .l-footer {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}
.l-footer ul {
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.l-footer ul li {
  padding: 0 15px;
}
.l-footer ul li:first-of-type {
  border-right: solid 2px #fff;
}
.l-footer p {
  font-size: 0.875rem;
}

.c-media__mainTitle {
  font-family: "Roboto";
  font-size: 2.5625rem;
  color: #EAEAEA;
  position: relative;
}
@media (min-width: 600px) {
  .c-media__mainTitle {
    font-size: 2.75rem;
  }
}
@media (min-width: 1025px) {
  .c-media__mainTitle {
    font-size: clamp(59px,5.714vw,80px);
  }
}
.c-media__mainTitle::after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  background-color: #EAEAEA;
  position: absolute;
  bottom: -35px;
}

.c-media__textBox {
  width: 94%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #3C2A10;
  font-family: "M+ 1m";
  background-color: rgba(255, 255, 255, 0.8);
}
.c-media__textBox h4 {
  font-weight: bold;
  font-size: 1.375rem;
}
@media (min-width: 600px) {
  .c-media__textBox h4 {
    padding: 17px 0 26px 19px;
    font-size: 1.5rem;
  }
}
.c-media__textBox p {
  font-size: 1rem;
  text-align: justify;
  padding: 0 19px 19px 19px;
}

.p-article__takeOut {
  background-image: url("../images/index_bg_TakeOut.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 1195px;
  position: relative;
}

.p-article__eatIn {
  background-image: url("../images/index_bg_EatIn.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 1195px;
  position: relative;
}

@media (min-width: 1025px) {
  .p-form {
    margin-top: 5.375rem;
    margin-right: 1.9375rem;
  }
}

.u-display__article {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.u-margin__takeOut {
  margin-left: clamp(81px,7.929vw,111px);
}

.u-margin__eatIn {
  margin-left: clamp(59px,5.714vw,80px);
  margin-right: clamp(82px,8vw,112px);
}

.u-margin__mainTitle {
  margin-top: 1.5rem;
  margin-left: 1.375rem;
}

.u-position__textBox {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
