@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.c-card {
    &__img {
        width: 100%;
        height: auto;
        @include tab {
            width: 50%;
        };
    }
    &__text {
        width: 100%;
        font-family: $fontM1;
        font-weight: bold;
        color: #fff;
        h3 {
            font-size: 20px;
            @include tab {
                font-size: rem(20);
            };
            @include pc {
                font-size: cardSize(36);
            };
        }
        h4 {
            font-size: 16px;
            @include tab {
                font-size: rem(16);
            };
            @include pc {
                font-size: cardSize(24);
            };
        }
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            text-align: justify;
            @include tab {
                font-size: tabSize(16);
                line-height: 16px;
                };
            @include pc {
                font-size: cardSize(16);
            };
        }
    }
}