@use '../../foundation/base' as *;

.c-media {
    &__mainTitle {
        font-family: $fontRobo;
        font-size: rem(41);
        color: $white;
        position: relative;
        @include tab {
            font-size: rem(44);
        }; 
        @include pc {
            font-size: pcSize(80);
        }; 
        &::after {
            content: "";
            display: block;
            width: 36px;
            height: 3px;
            background-color: $white;
            position: absolute;
            bottom: -20px;
            @include pc {
                width: 65px;
                bottom: -35px;
            }; 
        }
    }
    &__textBox {
        width: 94%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 20px;
        color: $brown;
        font-family: $fontM1;
        background-color: rgba(#fff,0.8);
        h4 {
            font-weight: bold;
            font-size: rem(22);
            @include tab {
                padding: 20px 0 20px 11px;
                font-size: rem(24);
            };
            @include pc {
                padding: 17px 0 26px 19px;
                font-size: rem(24);
            };
        }
        p {
            font-size: rem(16);
            text-align: justify;
            
            @include tab {
                padding: 20px 11px 20px 11px;
            };
            @include pc {
                padding: 0 19px 20px 19px;
            };
        }
    }
}