@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.u-display {
    &__header {
        @include header {
            display: flex;
            justify-content: space-between;
        };
    }
    &__article {
        display: flex;
        margin-top: 20px;
        flex-flow: column;
        @include tab {
            margin-top: 40px;
            flex-flow: nowrap;
        }; 
        @include pc {
            margin-top: 120px;
        }; 
    }
}