@use '../../foundation/base' as *;

.u-display {
    &__article {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        @include pc {
            margin-top: 120px;
        }; 
    }
}