@use '../../foundation/base' as *;
.u-margin {
    &__takeOut{
        margin-left: tabSize(40);
        @include pc {
            margin-left: pcSize(111);
        }; 
    }
    &__eatIn{
        margin-left: tabSize(41);
        margin-right: tabSize(40);
        @include pc {
            margin-left: pcSize(80);
            margin-right: pcSize(112);
        }; 
    }
    &__mainTitle {
        margin-top: rem(24);
        margin-left: rem(22);
    }
    &__searchBox {
        margin-right: 13px;
    }
}