@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.u-position {
    &__textBox {
        position: absolute;
        // height: 1020px;
        width: 100%;
        bottom: 0;
        // overflow: auto;
    }
}