@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.u-position {
    &__textBox {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        @include pc {
            margin-top: pcSize(25);
        };
        @include header {
            margin-top: cardSize(60);
        }; 
    }
}