@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.p-article {
    position: relative;
    &__takeOut {
        background-image: url('../images/TakeOut_bg_sp.jpg');
        width: 335px;
        height: 642px;
        @include tab {
            background-image: url('../images/TakeOut_bg.jpg');
        }; 
    }
    &__eatIn {
        background-image: url('../images/EatIn_bg_sp.jpg');
        background-repeat: no-repeat;
        width: 336px;
        height: 643px;
        @include tab {
            background-image: url('../images/EatIn_bg.jpg');
        }; 
    }
    @include tab {
        width: 100%;
        height: 1195px;
    }; 
}