@use '../../foundation/base' as *;

.p-article {
    &__takeOut {
        background-image: url('../images/index_bg_TakeOut.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 1195px;
        // overflow: auto;
        position: relative;
    }
    &__eatIn {
        background-image: url('../images/index_bg_EatIn.jpg');
        background-repeat: no-repeat;
        // background-position: right;
        width: 100%;
        height: 1195px;
        position: relative;
        // overflow: scroll;
    }
}