@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.p-card {
    background-color: #3C2B1C;
    margin: 0 22px 20.9px 22px;
    // width: 1000px;
    @include tab {
        display: flex;
        margin: 0 tabSize(43) 20.5px tabSize(43);
    };
    @include pc {
        margin: 0 cardSize(100) 30px cardSize(100);
    };
    &__textBox {
        width: 100%;
        padding: 0 17px;
        @include tab {
            padding: 0 tabSize(34.7);
        };
        @include pc {
            padding: 0 cardSize(63);
        };
        h3 {
            padding-top: 31.5px;
            @include tab {
                padding-top: tabSize(30);
            };
            @include pc {
                padding-top: cardSize(53);
            };
        }
        h2 {
            padding-top: 24px;
            @include tab {
                padding-top: tabSize(24);
            };
            @include pc {
                padding-top: cardSize(47);
            };
        }
        p {
            padding: 10px 0 0 0;
            @include tab {
                padding: rem(10) 0 0 0;
                };
            @include pc {
                padding: cardSize(17) 0 0 0;
            };
        }
    }

    &__link {
        background: #fff;
        border-radius: 30px;
        border: none;
        padding: 10px 42px;
        @include tab {
            padding: tabSize(10) tabSize(42);
        };
        @include pc {
            padding: cardSize(27) cardSize(100);
        };
    }
    img {
        width: 100%;
        height: 293px;
        @include tab {
            width: 50%;
            height: auto;
        };
    }
}

