@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.p-main {
    width: 100%;
    height: 285px;
    @include pc {
        height: 530px;
    };
    &__topImages {
        background-image: url(../images/index/pagetop_sp.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        @include tab {
            background-image: url(../images/index/pagetop_tab.jpg);
            background-position: right;
        };
        @include pc {
            background-image: url(../images/index/pagetop_pc.jpg);
        };
    }
    &__topTitle {
        display: block;
        color: #fff;
        font-family: $fontM1;
        font-weight: bold;
        font-size: rem(36);
        padding-top: 119px;
        padding-left: 25px;
        @include tab {
            padding-top: 117px;
            padding-left: 86px;
        };
        @include pc {
            font-size: rem(40);
            padding-top: 231px;
        };
    }
    &__description {
        font-family: $fontM1;
        color: $brown;
        margin: 33px 22px 19px 30px;
        @include tab {
            margin: 36px tabSize(42) 37px tabSize(42);
        };
        @include pc {
            margin: 60px pcSize(100) 70px pcSize(100);
        };
        h2 {
            font-weight: bold;
            font-size: rem(28);
            @include tab {
                font-size: rem(36);
            };
        }
        p {
            font-size: rem(16);
            text-align: justify;
            padding-top: 30px;
            @include tab {
                padding-top: 25px;
            };
        }
    }
    &__title {
        font-family: $fontM1;
        font-weight: bold;
        color: $brown;
        font-size: 20px;
        margin: 60px pcSize(100) 0px pcSize(100);
        &--1 {
            font-size: 28px;
        }
    }
    &__quote {
        font-family: $fontM1;
        color: $brown;
        font-size: 16px;
        text-align: justify;
        background-color: #F5F5F5;
        margin: 60px pcSize(100) 0px pcSize(100);
        padding: 50px 50px;
        @include pc {
        }
        cite {
            display: block;
            font-style: normal;
            padding-top: 60px;
            a {
                color: #4A6C9B;
                text-decoration: underline;
                padding-left: 13px;
            }
        }
    }
    &__imgLarge {
        width: 100%;
        height: auto;
        padding: 60px pcSize(100) 0 pcSize(100);
    }
    &__code {
        height: 237px;
        margin: 60px pcSize(100) 0 pcSize(100);
        padding: 20px 0 0 50px;
        background-color: #F5F5F5;
        line-height: 1.5rem;
    }
    &__table {
        padding: 50px pcSize(100) 0 pcSize(100);
        table {
        width: 100%;
        }
        th, td {
            border: solid 1px $gray;
            height: 77px;
            padding: 28px 0 28px 30px;
        }
        th {
            font-weight: normal;
            &:nth-of-type(1) {
                width: 30%;
            }
            &:nth-of-type(2) {
                width: 70%;
            }
        }
    }
    &__button {
        margin: 60px 0 0 100px;
        color: $brown;
        border-radius: 20px;
        padding: 41px 190px;
    }
    &__bold {
        margin: 60px 0 353px 100px;
    }
}
.archive {
    .p-main {
        height: 283px;
        position: relative;
        @include pc {
            height: 217px;
        };
        &__topImages {
            background-image: url(../images/archive/pagetop_arcive_pc.jpg);
        }
        &__background {
            top: 0;
            @include background-rgba(0.35);
        }
        &__topTitle {
            font-family: $fontRobo;
            padding-top: 102px;
            padding-left: 37px;
            @include tab {
            line-height: 69px;
            font-size: rem(60);
            padding-left: 86px;
            };
            @include pc {
                padding-top: 80px;
            };
            span {
                display: block;
                font-family: $fontM1;
                font-weight: bold;
                font-size: rem(16);
                padding-top: 7px;
                @include tab {
                    display: initial;
                    padding-left: 20px;
                    vertical-align: middle;
                };
            }          
        }
         
    }
}
.single {
    .p-main {
        height: 225px;
        @include tab {
            height: 500px;
        };
        &__topImages {
            background-image: url(../images/single/pagetop_page.jpg);
            background-position: center;
        }
        &__topTitle {
            font-size: rem(36);
            padding-top: 91px;
            @include tab {
                font-size: rem(60);
                padding-top: 209px;
            };
        }
        &__description {
            @include pc {
                margin-bottom: 0;
            };

        }
    }
}