@use '../../foundation/base' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.wp-pagenavi {
    @media (max-width: 599px) {
    position: relative;
    width: 100%;
    height: 122px
    }
    font-family: $fontM1;
    font-size: 16px;
    color: $gray;
    @include tab {
        clear: both;
        text-align:center;
        font-family: $fontRobo;
        margin: 105.5px 0 30px 0;
        border-collapse: separate;
        border-spacing: tabSize(15) 30px;
    };
    @include pc {
        margin: 150px 0 64px 0;
        border-spacing: tabSize(15) 64px;
    };
}
.pages {
    @media (max-width: 599px) {
        display: none;
    }
    margin-right: 20px;
}
.wp-pagenavi .current,
.wp-pagenavi a.page {
    @media (max-width: 599px) {
        display: none;
    }
    @include tab {
        color: #4a4a4a;
        background-color: #FFF;
        border: 1px solid $gray;
        padding: 8px 15px;
        margin: 0 8px;
        white-space: nowrap;
        text-align: center;
        text-decoration:none;
    };
}
.wp-pagenavi a.page:hover{
	border: 1px solid $gray;

    background-color: #3C2B1C;
    color: #fff;
    }
.wp-pagenavi span.current{
	border: 1px solid $gray;
    background-color: #3C2B1C;
    color: #fff;
}
.previouspostslink, .nextpostslink {
    @media (max-width: 599px) {
        position: absolute;
        font-size: 16px;
        bottom: 30px;
    }
    font-size: 0px;
}
.previouspostslink {
    @media (max-width: 599px) {
        margin-left: 20px;
    }
    margin-right: 17px;
    @include tab {
        &:before{
            content:'«';
            font-size: 35px;
        }
    };
}
.nextpostslink {
    @media (max-width: 599px) {
        right: 0;
        margin-right: 20px;
    }
    margin-left: 17px;
    @include tab {
        &:before{
            content:'»';
            font-size: 35px;
        }
    };
}