@use '../foundation/base' as *;

.l-main {
    @include pc {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }; 
    h2 {
        background-image: url(../images/pagetop_tab.jpg);
        background-position: right;
        width: 100%;
        height: 285px;
        @include pc {
            height: 530px;
            background-image: url(../images/pagetop_pc.jpg);
        };
        a {
            display: block;
            color: #fff;
            font-family: $fontM1;
            font-weight: bold;
            font-size: rem(36);
            padding-top: 117px;
            padding-left: 86px;
            @include pc {
                font-size: rem(40);
                padding-top: 231px;
            };
        }
    }
    &__map {
        margin-top: 131px;
        position: relative;
        width: 100%;
        height: 649px;
        @include tab {
            margin-top: 40px;

        };
        
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        div {
            position: absolute;
            background-color: rgba(#000,0.3);
            width: 100%;
            height: 649px;
        }
        section {
            position: absolute;
            height: 649px;
            background-color: rgba(#000,0.35);
            color: #fff;
            font-family: $fontM1;
            font-weight: bold;
            @include header {
                width: pcSize(950);
            }; 
            h3 {
                font-size: rem(36);
                padding: tabSize(83) 0 0 42px;

                &::after {
                    content: "";
                    display: block;
                    width: 75px;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    top: tabSize(200);
                }
                @include header {
                    padding: 83px 0 0 pcSize(119);

                }; 

            }
            p {
                font-size: rem(16);
                line-height: 33px;
                padding: tabSize(119) 29px 40px 42px;
                text-align: justify;
                @include header {
                    padding: 119px pcSize(134) 40px pcSize(119);
                }; 

            }
        }
    }
}