@use '../foundation/base' as *;

.l-main {
    @include pc {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }; 
    h2 {
        background-image: url(../images/pagetop_sp.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 285px;
        @include tab {
            background-image: url(../images/pagetop_tab.jpg);
            background-position: right;
        };
        @include pc {
            height: 530px;
            background-image: url(../images/pagetop_pc.jpg);
        };
        a {
            display: block;
            color: #fff;
            font-family: $fontM1;
            font-weight: bold;
            font-size: rem(36);
            padding-top: 119px;
            padding-left: 25px;
            @include tab {
                padding-top: 117px;
                padding-left: 86px;
            };
            @include pc {
                font-size: rem(40);
                padding-top: 231px;
            };
        }
    }
    &__map {
        margin-top: 49px;
        position: relative;
        width: 100%;
        height: 691px;
        @include tab {
            margin-top: 40px;
            height: 415px;
        };
        @include pc {
            margin-top: 131px;
            height: 649px;
        };
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        div {
            position: absolute;
            background-color: rgba(#000,0.3);
            width: 100%;
            height: 415px;
            @include tab {
                height: 415px;
            };
            @include pc {
                height: 649px;
            };
        }
        section {
            position: absolute;
            height: 691px;
            background-color: rgba(#000,0.35);
            color: #fff;
            font-family: $fontM1;
            font-weight: bold;
            @include tab {
                height: 415px;
            };
            @include pc {
                height: 649px;
            };
            @include header {
                width: pcSize(950);
            }; 
            h3 {
                font-size: rem(30);
                padding: 40px 0 0 42px;
                @include tab {
                    padding: tabSize(40) 0 0 42px;
                };
                @include pc {
                    font-size: rem(36);
                    padding: 83px 0 0 pcSize(119);
                };
                &::after {
                    content: "";
                    display: block;
                    width: 75px;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    top: 102px;
                    @include tab {
                        top: clamp(75px,9.951vw,102px);
                    };
                    @include pc {
                        top: 200px;
                    };
                }
            }
            p {
                font-size: rem(14);
                line-height: 33px;
                padding: 40px 40px 0 40px;
                text-align: justify;
                @include tab {
                    padding: tabSize(40) tabSize(29) 40px tabSize(42);
                    font-size: rem(16);
                    font-size: clamp(13px,1.366vw,14px);
                };
                @include pc {
                    padding: 119px pcSize(134) 40px pcSize(119);

                };
                @include header {
                    padding: 119px pcSize(134) 40px pcSize(119);
                }; 
            }
        }
    }
}